<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some WebSite</title>
</head>
<body>
    <h1>{{ pageName }}</h1>
    
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur, accusantium laboriosam maxime ad suscipit dolorum recusandae placeat fuga veniam nisi beatae pariatur, aliquam velit. Dolores harum pariatur esse inventore asperiores!</p>

    {{> footer }}
</body>
</html>